{{ define "main" }}

<!-- Tag Title -->
{{ if and .Title (eq .Type "tags") }}
<h1 class="mb-16">#{{ .Title }}</h1>
{{ end }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}<!---->
{{ if .IsHome }}<!---->
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
{{ end }}

<!-- Articles -->
{{ $paginator := .Paginate $pages }} {{ range $index, $page := $paginator.Pages
}}<!---->

<!-- avatar -->
{{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}<!---->

{{ $avatar_url := $.Scratch.Get "avatar_url" }}<!---->
{{ if or $avatar_url site.Params.name }}
<div class="-mt-2 mb-16 flex items-center">
  {{ if $avatar_url }}
  <div class="mr-5 shrink-0 rounded-full border-[0.5px] border-black/10 bg-white/50 p-3 shadow dark:bg-white/[15%]">
    <img class="my-0 aspect-square w-16 rounded-full !bg-black/5 hover:animate-spin dark:!bg-black/80"
      src="{{ $avatar_url }}" alt="{{ site.Params.name | default site.Title }}" />
  </div>
  {{ end }}<!---->
  {{ if site.Params.name }}
  <div>
    <h1 class="mb-2 mt-3 text-[1.6rem] font-bold">{{ site.Params.name }}</h1>
    <div class="break-words">
      {{ site.Params.bio | default (print `A personal blog by `
      site.Params.name) }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}<!---->

{{ end }}

<section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0 transition duration-500">
  <div class="flex flex-row justify-between content-start gap-6 mb-1">
    <div class="flex flex-col ">
      <div class="flex flex-col flex-shrink flex-grow flex-1">

        <h2 class="!my-0 font-normal text-xl dark:text-neutral-300 !leading-[1.4]">{{ .Title }}</h2>
        <div class="hidden md:block">
          <p
            class="break-all mt-4 text-base mb-1 overflow-hidden text-ellipsis tracking-wider line-clamp-2 text-neutral-500  max-h-[50px] ">
            {{ .Description | default .Summary }}</p>
        </div>
      </div>
      <div>


        <time class="text-sm antialiased text-neutral-500  inline-block">{{ .Date | time.Format ":date_short" }} ·
        </time>
        {{/* {{ if .Params.tags }}

        {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }} ·
        <span class="text-sm antialiased opacity-60 inline-block">{{ . }}</span>
        {{ end }}

        {{ end }} */}}
        <svg t="1709958677055"
          class="icon h-4 w-4 inline-block -translate-y-[2px] translate-x-[3px] dark:invert text-neutral-500  "
          viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3921" width="200" height="200">
          <path fill="currentColor"
            d="M170.666667 85.333333l213.333333 0 85.333333 128 384 0q52.992 0 90.496 37.504t37.504 90.496l0 469.333333q0 52.992-37.504 90.496t-90.496 37.504l-682.666667 0q-52.992 0-90.496-37.504t-37.504-90.496l0-597.333333q0-52.992 37.504-90.496t90.496-37.504zM423.68 298.666667l-82.346667-128-170.666667 0q-17.664 0-30.165333 12.501333t-12.501333 30.165333l0 597.333333q0 17.664 12.501333 30.165333t30.165333 12.501333l682.666667 0q17.664 0 30.165333-12.501333t12.501333-30.165333l0-469.333333q0-17.664-12.501333-30.165333t-30.165333-12.501333l-429.653333 0z"
            p-id="3922"></path>
        </svg>

        <span class="text-sm antialiased text-neutral-500  inline-block">{{ .Section | title }}</span>

      </div>
    </div>
    {{ with .Params.cover }}
    <div class="flex flex-none items-center">

      <img loading="lazy" decoding="async"
        class="m-0 flex md:w-[145px] md:h-[143px] h-[84px] w-[86px] object-cover rounded-md shadow-lg dark:brightness-75 "
        src="{{ . }}">
    </div>
    {{ else }}
    {{/* <div class="w-[105px] h-[105px]"></div> */}}
    {{/* <img class="m-0  flex w-1/3 md:w-1/4 h-28 object-cover rounded-xl " src="{{ site.Params.default_cover }}"
      alt="默认封面图"> */}}
    {{ end }}
  </div>
  <a class="absolute inset-0 text-[0] " href="{{ .Permalink }}">{{ .Title }}</a>
</section>
{{ end }}

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-16 flex">
  {{ if $paginator.HasPrev }}
  <a class="flex items-center btn font-semibold" href="{{ $paginator.Prev.URL }}"><svg
      class="!leading-4 fill-current h-6 w-6 inline-flex" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24">
      <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"></path>
    </svg>
    {{ i18n "prev_page" }}</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="flex items-center btn ml-auto font-semibold" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} <svg
      class="!leading-4 fill-current h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24">
      <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
    </svg></a>
  {{ end }}
</nav>
{{ end }}<!---->

{{ end }}