/* 根据用户设定的深浅主题和鼠标点击位置，应用动画 */
/* Default ::view-transition selectors for light theme */
::view-transition-old(*) {
    animation: none;
}
::view-transition-new(*) {
    animation: expandClipCircle .3s ease-in;
}
::view-transition-old(root) {
    z-index: 1;
}
::view-transition-new(root) {
    z-index: 9999;
}

/* Overriding ::view-transition selectors for dark theme */
html.dark::view-transition-old(*) {
    animation: expandClipCircle .3s ease-in reverse;
}
html.dark::view-transition-new(*) {
    animation: none;
}
html.dark::view-transition-old(root) {
    z-index: 9999;
}
html.dark::view-transition-new(root) {
    z-index: 1;
}

/* Animation for the view transition effect */
/* This creates a sunburst-like effect for the theme transition */
@keyframes expandClipCircle {
    from {
        clip-path: circle(0% at var(--x) var(--y)); 
    }
    to{
        clip-path: circle(100% at var(--x) var(--y));
    }
}
::selection {
    color: #fff;
    background: #344449;
}

html{
    font-family: 'LXGW WenKai Screen';
  }
  h1,h2 ,h3,h4,h5,h6,a {
    font-weight: 400!important;
  }
  
