{{- define "main" }}

<header class="mb-2">
    <h1 class="!my-0 pb-2.5 text-neutral-700 dark:text-neutral-300 ">{{ .Title }}</h1>
</header>


{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

{{- if .Site.Params.ShowAllPagesInArchive }}
{{- $pages = site.RegularPages }}
{{- end }}

{{- range $pages.GroupByPublishDate "2006" }}
{{- if ne .Key "0001" }}


   <p class="text-2xl first-of-type:mt-2 font-semibold mt-12 mb-4  bg-gradient-title inline-block" >{{- replace .Key "0001" "" }}</p>


    {{- range .Pages }}
    {{- if eq .Kind "page" }}
    <section class=" flex items-center justify-between my-4 -mx-2">
      
      <a class="!my-0 !leading-none text-lg  break-all no-underline   hover:bg-black/[3%]  transition duration-500 dark:hover:bg-white/[8%] hover:scale-105 dark:text-gray-300 hover:transition-transform inline-block rounded-lg p-2 " aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}">{{- .Title | markdownify }}</a>
      {{- if .Draft }}<sup><span>&nbsp;&nbsp;[draft]</span></sup>{{- end }}
     
      <div class="ml-auto"> 
       {{ if .Params.tags }}

        {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }}
        <a class="text-sm antialiased opacity-80 inline-block no-underline  hover:bg-black/[3%]  transition duration-500 dark:hover:bg-white/[8%] hover:scale-105 dark:text-gray-300 hover:transition-transform rounded-lg p-2 "  href="{{ $href }}"> #{{ . }}</a>
        {{ end }}

        {{ end }}

      </div>
      {{/*  <time class="text-sm opacity-60 ml-auto"
        >{{ .Date | time.Format ("01/02") }}</time>  */}}
    {{- end }}
  </section>
    {{- end }}
    

{{- end }}
{{- end }}

{{- end }}{{/* end main */}}