{{- define "main" }}
<article>
<header class="mb-16">
  <h1 class="!my-0 pb-2.5 ">{{ .Title }}</h1>
</header>


{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

{{- if .Site.Params.ShowAllPagesInArchive }}
{{- $pages = site.RegularPages }}
{{- end }}

{{- range $pages.GroupByPublishDate "2006" }}
{{- if ne .Key "0001" }}


   <p class="text-zinc-400 dark:prose-invert text-2xl mt-12 mb-6 ml-1" >{{- replace .Key "0001" "" }}</p>


    {{- range .Pages }}
    {{- if eq .Kind "page" }}
    <section class=" flex items-center justify-between my-4">
      
      <a class="!my-0 !leading-none text-lg  break-all no-underline   hover:bg-black/[3%]  transition duration-500 dark:hover:bg-white/[8%] hover:scale-105 dark:text-gray-300 hover:transition-transform inline-block rounded-lg p-2 " aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}">{{- .Title | markdownify }}</a>
      {{- if .Draft }}<sup><span>&nbsp;&nbsp;[draft]</span></sup>{{- end }}
     
      <time class="text-sm opacity-60 ml-auto"
        >{{ .Date | time.Format ("01-02") }}</time
      >
    {{- end }}
  </section>
    {{- end }}
    

{{- end }}
{{- end }}
</article>
{{- end }}{{/* end main */}}