{{- define "main" }}
<article>
<header class="mb-16">
  <h1 class="!my-0 pb-2.5 ">{{ .Title }}</h1>
</header>


{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

{{- if .Site.Params.ShowAllPagesInArchive }}
{{- $pages = site.RegularPages }}
{{- end }}

{{- range $pages.GroupByPublishDate "2006" }}
{{- if ne .Key "0001" }}


   <h2 >{{- replace .Key "0001" "" }}</h2>

   <ul class="list-none">
    {{- range .Pages }}
    {{- if eq .Kind "page" }}
    <li>
      <time class="mr-4"
        >{{ .Date | time.Format ("01-02") }}</time
      >
      <a class="!my-0 pb-1 !leading-none text-xl break-all  hover:text-gray-500" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}">{{- .Title | markdownify }}</a>
      {{- if .Draft }}<sup><span>&nbsp;&nbsp;[draft]</span></sup>{{- end }}
      
    {{- end }}
    {{- end }}
  </li>
</ul>
{{- end }}
{{- end }}
</article>
{{- end }}{{/* end main */}}