<header class="mx-auto flex h-[4.5rem] max-w-5xl px-6 md:px-8   lg:justify-center ">
  <div class="relative z-50 mr-auto flex items-center">
    <a
      class="-translate-x-[1px] -translate-y-[1px] text-3xl "
      href="{{ `` | absURL }}"
      >{{ site.Title }}</a
    >
    <div
      class="btn-dark text-[0] ml-4 h-5 w-5 fill-current shrink-0 cursor-pointer {{ if site.Params.monoDarkIcon }} dark:invert active:rotate-90  transition-all transform duration-300
      bg-[url(./dark.svg)] bg-cover bg-no-repeat dark:bg-[url(./light.svg)] dark:bg-cover dark:bg-no-repeat {{ else }}[background:url(./theme.png)_left_center/_auto_theme('spacing.6')_no-repeat] [transition:_background-position_0.4s_steps(5)]{{ end }} dark:[background-position:right]"
      role="button"
      aria-label="Dark"
    ></div>
  </div>

  <div
    class="btn-menu relative z-50 -mr-4 flex h-[4.5rem] w-[5rem] shrink-0 cursor-pointer flex-col items-center justify-center gap-2.5 lg:hidden"
    role="button"
    aria-label="Menu"
  ><svg class="hidden-icon w-6 h-6 fill-current " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="M22 18.005c0 0.55-0.446 0.995-0.995 0.995h-8.010c-0.55 0-0.995-0.446-0.995-0.995s0.446-0.995 0.995-0.995h8.010c0.55 0 0.995 0.446 0.995 0.995z"></path> <path d="M22 12c0 0.55-0.446 0.995-0.995 0.995h-18.010c-0.55 0-0.995-0.446-0.995-0.995s0.446-0.995 0.995-0.995h18.010c0.55 0 0.995 0.445 0.995 0.995z"></path> <path d="M21.005 6.99c0.55 0 0.995-0.446 0.995-0.995s-0.446-0.995-0.995-0.995h-12.010c-0.55 0-0.995 0.446-0.995 0.995s0.446 0.995 0.995 0.995h12.010z"></path> </svg>
  <svg class="show-icon w-6 h-6 fill-current  hidden" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="M18.984 6.422l-5.578 5.578 5.578 5.578-1.406 1.406-5.578-5.578-5.578 5.578-1.406-1.406 5.578-5.578-5.578-5.578 1.406-1.406 5.578 5.578 5.578-5.578z"></path> </svg>
</div>
  {{ $bg_color := $.Scratch.Get "bg_color" }}<!---->

  <script>
    // base
    const htmlClass = document.documentElement.classList;
    setTimeout(() => {
      htmlClass.remove('not-ready');
    }, 10);

    // mobile menu
    const btnMenu = document.querySelector('.btn-menu');
    btnMenu.addEventListener('click', () => {
      htmlClass.toggle('open');
    });

    // dark theme
    const metaTheme = document.querySelector('meta[name="theme-color"]');
    const lightBg = '{{ $bg_color }}'.replace(/"/g, '');
    const setDark = (isDark) => {
      metaTheme.setAttribute('content', isDark ? '#000' : lightBg);
      htmlClass[isDark ? 'add' : 'remove']('dark');
      localStorage.setItem('dark', isDark);
    };

    // init
    const darkScheme = window.matchMedia('(prefers-color-scheme: dark)');
    if (htmlClass.contains('dark')) {
      setDark(true);
    } else {
      const darkVal = localStorage.getItem('dark');
      setDark(darkVal ? darkVal === 'true' : darkScheme.matches);
    }

    // listen system
    darkScheme.addEventListener('change', (event) => {
      setDark(event.matches);
    });

    // manual switch
   /* JavaScript code to handle button click and theme change */
const btnDark = document.querySelector('.btn-dark');

btnDark.addEventListener('click', ($eve) => {
  changeBtn(() => {
    setDark(localStorage.getItem('dark') !== 'true');
  }, $eve);
});


function changeBtn(event, $eve) {
  // Modify CSS variables based on mouse click position
  document.documentElement.style.setProperty('--x', $eve.clientX + 'px');
  document.documentElement.style.setProperty('--y', $eve.clientY + 'px');
    
  // Check if browser supports startViewTransition method
  if (document.startViewTransition) {
    // Use startViewTransition to change themes if supported
    document.startViewTransition(() => {
      event();
    });
  } else {
    // Directly switch theme if startViewTransition is not supported
    event();
  }
}
    
  </script>

  <div
    class="nav-wrapper fixed inset-x-0 top-full z-40 flex h-full select-none flex-col justify-center pb-16 duration-200 dark:bg-neutral-900 lg:static lg:h-auto lg:flex-row lg:!bg-transparent lg:pb-0 lg:transition-none lg:font-semibold"
  >
    {{ $url := .RelPermalink }}<!---->
    {{ with site.Menus.main }}
    <nav class="lg:ml-12 lg:flex lg:flex-row lg:items-center lg:space-x-2">
      {{ range . }}
      <a
        class="block text-center text-2xl font-normal leading-[5rem] lg:text-base px-2 py-1 cursor-pointer md:hover:bg-black/[5%] text-neutral-700 transition duration-500 md:dark:hover:bg-neutral-700 dark:text-neutral-300 lg:hover:transition-transform rounded-lg"
        href="{{ .URL }}"
        >{{ .Name }}</a
      >
      {{ end }}
    </nav>
    {{ end }}<!---->

    {{ with $.Scratch.Get "social_list" }}
    <nav
      class="mt-12 flex justify-center space-x-10 dark:invert lg:ml-12 lg:mt-0 lg:items-center lg:space-x-6"
    >
      {{ range . }}<!---->
      <a
        class="h-8 w-8 text-[0] [background:var(--url)_center_center/cover_no-repeat] lg:h-6 lg:w-6"
        style="--url: url(./{{ . }}.svg)"
        href="{{ if eq . `rss` }}{{ `index.xml` | absURL }}{{ else if eq . `mastodon` }}{{ index site.Params . }}{{ else }}https://{{ . }}.com/{{ if eq . `linkedin` }}in/{{ end }}{{ index site.Params . }}{{ end }}"
        target="_blank"
        rel="{{ if eq . `rss` }}alternate{{ else }}me{{ end }}"
      >
        {{ . }}
      </a>
      {{ end }}<!---->
    </nav>
    {{ end }}<!---->
  </div>
</header>
